<div class="items-footer">
  <!-- Section 6 -->
  <section class="sect-6">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-5 col-lg-6 item-img">
          <div class="img text-center">
            <img src="./assets/img/skull.png" alt="" />
          </div>
        </div>
        <div class="col-12 col-md-7 col-lg-6">
          <div class="items-text">
            <div class="title">
              <p>
                Want to stay in <br />
                touch?
              </p>
              <h3 class="text-uppercase">
                newsletter <br />
                subscribe
              </h3>
            </div>
            <div class="desc">
              <p>
                In order to start receiving our news, all you have to do is
                enter your email address. <br />
                Everything else will be taken care of by us. We will send you
                emails containing information about game, We don't spam.
              </p>
            </div>
            <div class="item-button">
              <div class="card-email">
                <p>Your email address</p>
                <a href="#">davitaridani@gmail.com</a>
              </div>
              <button class="btn">Subscribe now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="foot-top">
        <ul>
          <li>
            <a class="nav-link p-0" href="">Main</a>
          </li>
          <li>
            <a class="nav-link p-0" href="">About</a>
          </li>
          <li>
            <a class="nav-link p-0" href="">game Features</a>
          </li>
          <li>
            <a class="nav-link p-0" href="">system requirements </a>
          </li>
          <li>
            <a class="nav-link p-0" href="">quotes</a>
          </li>
        </ul>
        <hr />
        <div class="foot-icon">
          <a class="nav-link p-0" href="#">
            <iconify-icon icon="gg:facebook"></iconify-icon>
          </a>
          <a class="nav-link p-0" href="#">
            <iconify-icon icon="ri:twitter-fill"></iconify-icon>
          </a>
          <a class="nav-link p-0" href="#">
            <iconify-icon icon="mdi:youtube"></iconify-icon>
          </a>
          <a class="nav-link p-0" href="#">
            <iconify-icon icon="uil:instagram-alt"></iconify-icon>
          </a>
        </div>
      </div>
      <hr />
      <div class="foot-bottom d-flex justify-content-between">
        <div class="text-copyright">
          <p>Copyright @ 2023 Ahmat Davit. All Rights Recerverd.</p>
        </div>
        <div class="text text-end">
          <p>privacy police | Terms of services | code of conduct</p>
        </div>
      </div>
    </div>
  </footer>
</div>

<!--Btn scroll to top -->
<div class="btn-scroll-top fixed-bottom">
  <button type="button" id="btn-back-to-top" class="btn text-center">
    <iconify-icon
      icon="material-symbols:keyboard-double-arrow-down-rounded"
      rotate="180deg"
    ></iconify-icon>
  </button>
</div>
